<ul>
  <li *ngFor="let scan of networkScans">
    <div class="card bg-secondary my-5 mx-auto">
      <div class="card bg-dark my-5 mx-auto">
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12">
              <p class="network-scan">{{scan.ipAddress}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <p class="network-scan">partition :</p>
            </div>
            <div class="col-xs-6">
              <p class="network-scan">{{scan.partitionId}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <p class="network-scan" [ngStyle]="{'color': scan.reachable ? 'green' : 'red'}">{{scan.reachable}}</p>
            </div>
            <div class="col-xs-6">
              <p class="network-scan" [ngStyle]="{'color': scan.reachable ? 'green' : 'red'}">{{scan.pingTime}} ms</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
