#app-body {
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
}

.main-text {
  font-family: "Lucida Console", serif;
}

.network-scan {
  font-weight: bold;
  color: blue;
}
