<div id="app-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 id="main-title" class="card-title text-center text-white py-3 main-text">{{ title }}</h2>
      <div class="row">
        <div class="col-sm-6">
          <app-successful-scan-list></app-successful-scan-list>
        </div>
        <div class="col-sm-6">
          <app-error-scan-list></app-error-scan-list>
        </div>
      </div>

      <app-scan-list></app-scan-list>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
