<h2 class="text-center text-white py-3 main-text sub-title">Error scans</h2>
  <div class="row">
    <ul class="horizontal-collection mx-auto">
      <li *ngFor="let currentErrorScan of currentErrorScans">
        <div class="card-body">
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12">
                <p class="network-scan" [ngStyle]="{'color':'red'}">{{currentErrorScan ? currentErrorScan.exceptionType : null}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <p class="network-scan" [ngStyle]="{ 'visibility' : currentErrorScan ? 'visible':'hidden', 'color' : 'red'}">message : </p>
              </div>
              <div class="col-xs-6">
                <p class="network-scan" [ngStyle]="{'color':'red'}">{{currentErrorScan ? currentErrorScan.message : null}}</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

